* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}
@media(max-width: 750px){
    .container{
        padding: 0 20px;
    }
}